:root {
  --bg: #0b0e13;
  --text: #eaeaf0;
  --muted: #9aa0aa;
  --accent: #4f7cff; /* neutral */
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text);
  font-family: Inter, system-ui, -apple-system, sans-serif;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #000 inset !important;
  -webkit-text-fill-color: #0ff !important;
  transition: background-color 5000s ease-in-out 0s;
}
